.updateForm {
  position: absolute;
  top: 20%;
  right: 40%;
  height: auto;
  width: 420px;
  color: aliceblue;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 0 10px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
}
